<div class="main-page" *ngIf="selectedEmployee">
    <div class="background-img">
        <img src="assets/images/_images/header_image/Godfather header.jpg" />
    </div>
    <div class="overlay">
        <div class="left">
            <div class="logo">
                <img src="assets/images/_logo/the-godfather.svg" />
            </div>
            <!-- Employees list -->
            <div class="list">
                <ng-container *ngFor="let employee of employees">
                    <h2 
                    [class.colleague]="isAColleague(employee)"
                    [class.active-item]="selectedEmployee == employee" 
                    [style.font-size]="calculatePopularity(employee)"
                    (click)="selectEmployee(employee)">
                        {{employee.name}}
                    </h2>
                </ng-container>
            </div>
        </div>
        <!-- Selected Employee Details -->
        <div class="right">
            <div class="profile">
                <img [src]="'assets/images/_images/profile_pics/'+selectedEmployee.image" />
            </div>
            <div class="details">
                <h1>{{selectedEmployee.name}}</h1>
                <div class="popularity">
                    <p>Popularity</p>
                    <input type="range" min="1" max="10" [(ngModel)]="selectedEmployee.popularity" />
                </div>
                <div class="biography">
                    <h3>Biography</h3>
                    <p>
                        {{selectedEmployee.biography}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>